/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
 	*
	{
		margin: 0;
	}

	body
	{
		background: #fff;
	}
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header
	{
		background: rgb(45,45,45);
		position: fixed;
		top: 0;
		left: 0;
		width: 48px;
		height: 100%;
	}
	#header2
	{
		background: rgb(45,45,45);
		position: fixed;
		top: 0;
		right: 0;
		width: 240px;
		height: 100%;
	}

	#div-settings,
	#img-settings
	{
		display:none;
	}

	#header .top
	{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	#toolbar a {
		color: rgb(204, 204, 204);
	}

	#toolbar a:hover
	{
		color: rgb(255, 224, 64);
	}

	#toolbar .tool
	{
		width: inherit;
		padding: 12px 16px;
	}

	#toolbar .tool:hover
	{
		background: rgba(0, 0, 0, 0.5);
	}

	.setting,
	.setting-header
	{
		font-family: Arial;
		color: rgb(204, 204, 204);
	}

	.setting
	{
		text-align: right;
	}

	.setting-header
	{
		font-size: 1.25em;
	}
	
/*********************************************************************************/
/* Main                                                                        */
/*********************************************************************************/
	#main
	{
		height: 1000px;
		margin-left:48px;
		margin-right:240px;
		border: 1px solid #F00;
	}
	button.borrar {
		margin: 0;
		padding: 0;
		border: 0;
		background: none;
		font-size: 100%;
		vertical-align: baseline;
		font-family: inherit;
		color: inherit;
		-webkit-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
	}
	.borrar {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		font-size: 22px;
		color: #000;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
	}
	.borrar:hover {
		font-size: 32px;
		color: red;
	}
	.borrar:after {
		content: '✖';
	}