/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
 	*
	{
		margin: 0;
	}

	body
	{
		background: #fff;
		font-size: 12px;
	}
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header
	{
		background: rgb(45,45,45);
		position: fixed;
		top: 0;
		left: 0;
		width: 5em;
		height: 100%;
		float: left;
	}
	#header2
	{
		background: rgb(45,45,45);
		position: fixed;
		top: 0;
		right: 0;
		width: 240px;
		height: 100%;
		float: right;
	}

	#div-settings,
	#img-settings
	{
		display:none;
	}

	#header .top
	{
		position: absolute;
		width: 100%;
	}

	#toolbar a {
		color: rgb(204, 204, 204);
	}

	#toolbar a:hover
	{
		color: rgb(255, 224, 64);
	}

	#toolbar .tool
	{
		width: inherit;
		padding: 0.3em 0.5em;
	}

	#toolbar .tool:hover
	{
		background: rgb(0, 0, 0);
	}

	input
	{
		margin: 2px;
	}

	input:focus
	{
		background-color: rgb(255, 255, 160);
	}

	.setting,
	.setting-header
	{
		font-family: Arial;
		color: rgb(204, 204, 204);
	}

	.setting
	{
		text-align: right;
	}

	.setting-header
	{
		font-size: 1.25em;
	}

	.setting-header,
	.setting-buttons
	{
		text-align: center;
	}
	
/*********************************************************************************/
/* Main                                                                        */
/*********************************************************************************/
	#main
	{
		height: 1000px;
		margin-left: 5em;
		margin-right: 240px;
		border: 1px solid #F00;
	}
	button.borrar,
	button.editar {
		margin: 0;
		padding: 0;
		border: 1px solid rgba(0, 0, 0, 0.2);
		background: rgba(255, 255, 255, 0.1);
		font-size: 100%;
		vertical-align: baseline;
		font-family: inherit;
		color: inherit;
		-webkit-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
	}
	.borrar,
	.editar {
		display: block;
		position: absolute;
		top: 0;
		width: 30px;
		height: 30px;
		font-size: 22px;
		color: #000;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
	}
	.borrar {
		right: 0px;
	}
	.editar {
		right: 30px;
	}
	.borrar:hover,
	.editar:hover {
		font-size: 32px;
		color: red;
	}
	.borrar:after {
		content: '✖';
	}
	.editar:after {
		content: 'o';