/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
 	*
	{
		margin: 0;
	}

	body
	{
		background: #fff;
	}
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header
	{
		background: rgb(45,45,45);
		position: fixed;
		top: 0;
		left: 0;
		width: 48px;
		height: 100%;
	}
	#header2
	{
		background: rgb(45,45,45);
		position: fixed;
		top: 0;
		right: 0;
		width: 240px;
		height: 100%;
	}
	#header .top
	{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	#nav ul li
	{
		width: 100%;
		list-style:none;
		margin-left: -24px;
		padding-bottom: 12px;
		padding-top: 12px;
	}
	
	#nav ul li:hover
	{
		background: rgba(255,255,255,0.1);
	}
	
/*********************************************************************************/
/* Main                                                                        */
/*********************************************************************************/
	#main
	{
		height: 1000px;
		margin-left:48px;
		margin-right:240px;
		border: 1px solid #F00;
	}