*
{
	margin: 0px;
}
body
{
	background-color: rgb(56, 64, 70);
	background-image: url(../img/fondo.png);
}
#all
{
	width: 100%;
	height: 100%;
}
#header
{
	width: 100%;
	height: 30px;
	background-color: rgb(45, 45, 45);
	position: fixed;
	z-index: 50;
	left: 0px;
	top: 0px;
	opacity: 0.8;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px #000;
}
.top
{
	width: 100%;
	height: 380px;
	padding-top: 60px;
	background-color: rgb(229, 229, 229);
}
.slider
{
   	width: 800px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(216, 216, 216);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 3px;
	-webkit-box-shadow: 0px 10px 13px 5px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 10px 13px 5px rgba(0,0,0,0.38);
    box-shadow: 0px 10px 13px 5px rgba(0,0,0,0.38);
	background-color: rgb(0, 130, 184);
}
.slider img
{
   	width: 800px;
	height: 350px;
}
.bot
{
	width: 580px;
	height: 170px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	
	
}
.box
{
	width: 170px;
	height: 160px;
	border-radius: 50%;
	border: solid 5px rgb(229, 229, 229);
	background-color: rgb(0, 133, 184);
	text-align: center;
	padding-top: 10px;
}
.box1
{
	margin-right: 20;
	float: left;	
}
.box2
{
	float: left;
}
.box3
{
	float: right;
}
.logo
{
	width: 20%;
	height: 100%;
	float: left;
	padding-left: 1.5%;
}
.login
{
	width: 160px;
	float: right;
	border-left: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
	padding-left: 5px;
}
.login : hover
{
    opacity: 0.5;
}
.usu_img
{
	width: 25px;
	height: 100%;
	border-radius: 50%;
	float: left;
}

.usu_tx
{
	width: 125px;
	height: 80%;
	padding-top: 2px;
	padding-left: 10px;
	font-size: 16;
	color: #FFF;
	float: left;
}
.circle
{
	border-radius: 50%;
}
.conf
{
	width: 35px;
	float: right;
	padding-left: 5px;
}
.conf : hover
{
    opacity: 0.5;
}
.bot2
{
	width: 500px;
	height: 10%;
	margin-bottom: 30px;
}
.b_img
{
	width: 66px;
	height: 66px;
	border-radius: 50%;
	float: left;
}

.b_tx
{
	width: 400px;
	height: 54px;
	padding-top: 6px;
	padding-left: 20px;
	font-size: 24;
	color: #FFF;
	float: left;
}
.bot3
{
	width: 500px;
	height: 10%;
	margin-left: 150px;
	margin-bottom: 30px;
}
.bot4
{
	width: 500px;
	height: 10%;
	margin-left: 299px;
	margin-bottom: 30px;
}
.borde
{
	width: 100%;
	height: 130px;
	z-index: 10;
}
.main
{
	width: 100%;
	height: 100%;
	background-color: rgb(229, 229, 229);
	z-index: 20;
	border-bottom: solid 3px #000;
}
.caja
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.box-p
{
	width: 247px;
	height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 8px;
	margin-right: 8px;
	float: left;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(216, 216, 216);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
}
#folder
{
	width: 100%;
	height: 20%;
}
#folder * * {
	color: #ccc;
	font-family: Verdana;
}
.logo2
{
	width: 20%;
	height: 100%;
	float: left;
	margin-left: 20%;
	padding-top: 2%;
	text-align: center;
}
.foot
{
	width: 15%;
	height: 100%;
	float: left;
	margin-left: 7.5%;
	padding-top: 2%;
}
#apDiv1 {
	position: absolute;
	width: 422px;
	height: 453px;
	z-index: -1;
	left: 1200px;
	top: 750px;
	visibility: auto;
}
h2
{
	padding-bottom:1%;
}
li
{
	padding-top:1%;
	font-size: 24;
}
.cab
{
    width: 800px;
	margin-left: auto;
	margin-right: auto;
}