body {font-family: 'Noto Sans', sans-serif;}

/* Top Bar */
#top {
	position: fixed; top: 0px;
	left: 0px;
	right: 0px;
	background: rgb(45,45,45);
	z-index: 100;
	padding: 0;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 rgba(0,0,0,.1);	
}
.top-bar,
.top-bar-section ul,
.top-bar-section li a:not(.button) {
	background: rgb(45,45,45);
	color: #222;
	font-size: 20px;
	font-weight: 200;
}
.top-bar {
	height: 78px;
	line-height: 78px;
}
.top-bar a{font-family: 'Cabin Condensed', sans-serif;}
.top-bar .logo {
	height: 78px;
	line-height: 100px;
}
.top-bar .logo img {
	display: inline-block;
}
.top-bar-section li a:not(.button) {
	line-height: 78px;
	color: #fff;
}
.top-bar-section li a:hover:not(.button) {
	color: #666;
}
.top-bar-section ul li:last-child {
	line-height: 58px;
}
.top-bar-section ul li>a.button {
	min-width: inherit;
	padding-left: 30px;
	padding-right: 30px;
	height: auto;
	display: inline-block;
}
.top-bar .toggle-topbar.menu-icon a,
.top-bar .toggle-topbar a {
	color: #FFF;
	font-weight: normal;
	background: rgb(45,45,45);
}
.top-bar .toggle-topbar.menu-icon span,
.top-bar .toggle-topbar span {
	padding-right: 20px;
	text-indent: -60px;
}
.top-bar.expanded .title-area {
	background: rgb(45,45,45);
}
.top-bar.expanded .top-bar-section li a:not(.button) {
	line-height: 40px;
}
.top-bar.expanded .top-bar-section li {
	border-top: 1px solid #e1e1e1;
}
.top-bar .toggle-topbar.menu-icon a span {
	-webkit-box-shadow: 0 10px 0 1px #222,
						0 16px 0 1px #222,
						0 22px 0 1px #222;
	box-shadow: 0 10px 0 1px #222,
				0 16px 0 1px #222,
				0 22px 0 1px #222;
}
.top-bar.expanded .toggle-topbar.menu-icon a,
.top-bar.expanded .toggle-topbar a {
	color: #888;
}
.top-bar.expanded .toggle-topbar.menu-icon a span {
	-webkit-box-shadow: 0 10px 0 1px #888,
						0 16px 0 1px #888,
						0 22px 0 1px #888;
	box-shadow: 0 10px 0 1px #888,
				0 16px 0 1px #888,
				0 22px 0 1px #888;
}
.top-bar .active a {
	color: #4e97cc;
}


/* Header */
header {
	padding: 60px 0 0;
	background-color: #4e97cc;
	color: white;
	margin-top: 78px;
	overflow: hidden;
}
header img {
	margin-bottom: -140px;
	display: inline-block;
}
header h1 {
	color: rgb(255,212,100);
	font-size: 70px;
	line-height: 74px;
	font-weight: normal;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
header .large-8 h1 {
	margin: 100px 0 5px;	
}
header .subheading {
	display: block;
	margin-bottom: 30px;
	font-size: 25px;
	line-height: 1.2;
}
header .large-8 {
	padding-left: 40px;
}
#header {
	background: rgb(103,116,151) url(../img/super.jpg) no-repeat -509px -391px;
}

/* Buttons */
.button {
	padding-left: 40px;
	padding-right: 40px;
	-webkit-transition: all 0.4s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.4s ease-in-out;  /* Firefox 4-15 */
       -o-transition: all 0.4s ease-in-out;  /* Opera 10.50–12.00 */
          transition: all 0.4s ease-in-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #4e97cc;	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.button.secondary {
	color: #666;
	 
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #f3f3f3;
	
}
.button:hover, .button:focus {
background-color: #f06060;
}
a:hover, a:focus {
color: #f06060;
}
.button.white {
	clear: both;
	color: #4e97cc;
	background-color: white;
	border: 0;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(0,0,0,.2);	
	background-image: none;
}
.button.white:hover {
	opacity: 0.9;
}

/* Section */

.section.gray {
	background:rgb(103,116,151);
	padding: 30px 0;
}
.section.gray2 {
	background:rgb(229,229,229);
	padding: 30px 0;
}
.section.features {
	background:rgb(103,116,151);
	padding: 30px 0;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.section.screenshot {
	background: rgb(103,116,151);
	hight:130px;
}

/* Features */
.feature {
	text-align: center;
	padding-top: 30px;
}
.feature h3 {
	font-size: 24px;
	color: rgb(229,229,229);
}
.feature p {
	font-size: 14px;
}
.feature .icon {
	
	font-size: 4.8em;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	padding-top: 14px;
	padding-left: 14px;
	width: 130px;
	height: 130px;
	display: inline-block;
	text-align: center;
	margin-bottom: 30px;
}

/* Random Quote */
.quotes {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.quote blockquote {
	border-left: none;
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 200;
	padding: 0;
	line-height: 1.3em;
	color: rgb(229,229,229);
}
.quote .author {
	font-size: 20px;
	color: #4e97cc;
	display: block;
	text-align: center;
}
.quotes .orbit-container {
	background: transparent;
}
.quotes .orbit-prev,
.quotes .orbit-next,
.quotes .orbit-slide-number{
	display: none;
	
}
.quotes .orbit-timer {
	visibility: hidden;
}
.quotes .orbit-bullets {
	text-align: center;
}
.quotes .orbit-bullets li{
	display: inline-block;
	float: none;
	height: 10px;
	width: 10px;
	border: none;
	background: #CCC;
	cursor:pointer;
}
.quotes .orbit-bullets li.active {
	background: #4e97cc;
}

/* Pricing Table */
.pricing-table {
	border: 1px solid #e4e4e4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
}

.pricing-table .title {
	font-size: 34px; 
	font-family: 'Cabin Condensed', sans-serif;
	background: transparent;
	padding-bottom: 0;
}
.pricing-table .description {
	font-size: 16px;
	font-weight: 200;
	border-bottom: none;
}
.pricing-table .price{
	font-weight: 200;
	background-color: #f3f3f3;
	margin-bottom: 20px;
}
.pricing-table ul {
	margin-bottom: 0;
}
.pricing-table .bullet-item {
	margin: 0 40px;
	font-size: 16px;
	font-weight: 200;
}
.pricing-table .bullet-item:last-child {
	border-bottom: none;
}
.pricing-table .cta-button {
	background-color: transparent;
}
.pricing-table.featured .title {
	color: #4e97cc;
}
.pricing-table .price-table-toggle {
	display: none;
}

.featured {background:#4e97cc; border:1px solid #4e97cc;}
.pricing-table.featured .description, .pricing-table.featured .title{background:#4e97cc;color:#fff;}
.pricing-table.featured .price { background:#fff; color:#f06060; }
.pricing-table.featured .button { background:#fff; color:#f06060; border:0;}
.pricing-table.featured .bullet-item {background:#4e97cc;color:#fff;}

/* Footer */
footer {
	padding: 20px 0 0;
	background: rgb(45,45,45);
	color: #fff;
}
footer .inline-list {
	line-height: 45px;
}
footer a.icon {
	color: #CCC;
	font-size: 40px;
	-webkit-transition: all 0.4s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.4s ease-in-out;  /* Firefox 4-15 */
       -o-transition: all 0.4s ease-in-out;  /* Opera 10.50–12.00 */
          transition: all 0.4s ease-in-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
footer a.icon:hover {
	color: #4e97cc;
}

/* ICONS */
@font-face {
	font-family: 'entypo';
	src:url('../fonts/entypo.eot');
	src:url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/entypo.woff') format('woff'),
		url('../fonts/entypo.ttf') format('truetype'),
		url('../fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-twitter:before, .icon-facebook:before, .icon-googleplus:before {
	font-family: 'entypo';
	-webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
	content: "\e0f4";
}
.icon-facebook:before {
	content: "\e0f6";
}
.icon-googleplus:before {
	content: "\e0f9";
}

/* Media Queries*/

@media (min-width: 768px) and (max-width: 1023px) {
	header h1 {
		font-size: 60px;
	}
	header .subheading {
		font-size: 26px;
	}
}
@media (max-width: 767px) {
	#top {
		position: static; 
		top: auto;
		left: auto;
		right: 0px;
	}
	.top-bar,
	.top-bar-section ul{
		background: rgb(45,45,45);
	}
	.top-bar-section li a:not(.button) {
		background: rgb(45,45,45);
	}
	header {
		text-align: center;
		margin-top: 0;
	}
	header img {
		margin-bottom: 50px;
		max-height: 400px;
	}
	header h1,
	header .large-8 h1 {
		margin-top: 10px;
	}
	header .large-8 {
		padding-left: 0.9375em;
	}
	.top-bar .top-bar-section ul li>a.button  {
		color: white;
		padding: 10px 0;
		font-size: 24px;
		margin: 10px 0;
	}
	.pricing-table .price-table-toggle {
		display: block;
		text-align: center;
	}
	.pricing-table .price-table-features {
		display: none;
	}

}
@media (max-width: 568px) {
	h2 {
		font-size: 40px;
	}
	.section .subheading {
		font-size: 18px;
	}
}

/* Icon Effects */
.hi-icon-effect-3 .hi-icon {
	box-shadow: 0 0 0 4px #4e97cc;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.hi-icon-effect-3 .hi-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: green;
	-webkit-transition: -webkit-transform 1s, opacity 0.6s;
	-moz-transition: -moz-transform 1s, opacity 0.6s;
	transition: transform 1s, opacity 0.6s;
}

/* Effect */ 
.hi-icon-effect-3b .hi-icon {
	color: #fff;
	background: #4e97cc;
}